/* generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 auto;
}

html{
    overflow-y: hidden;
    font-family: 'Lato', sans-serif;
}


main{
    overflow-y: scroll;
}

/* utilities */

.buttons{
    padding: 10px;
}

.btn{
    border: 0;
    color: white;
    background-color: grey;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 6px;
    border-radius: 5px;
    margin: 2px;
}

.fa-th{
    margin-right: 5px;
}

header{
    height: 80px;
    width: 100%;
    background-color: #000;
    text-align: right;
}

/* main */

.contain{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    justify-content: center;
}

main{
    background-color: #000;
    width: 100%;
    height: calc(100vh - 180px);
}

.user > .fas{
    color: white;
    background-color: rgba(128,128,128,0.7);
    padding: 5px;
    font-size: 20px;
    margin-top: 60px;
}

.user{
    background-image: url(../img/1055-367x267.jpg);
    height: 110px;
    width: 220px;
    background-size: cover;
    color: white;
    margin: 0 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 2px;
    font-family: 'Lato', sans-serif;    
}

/* footer */

footer{
    background-color: #222222;
    height: 150px;
    width: 100%;
}

.menu{
    display: flex;
    align-items: center;
    color: white;
    font-weight: 900;
    font-size: 12px;
    width: 33%;
}

.menu-center{
  display: flex;
}

.mute .fas{
    font-size: 35px;
    margin-bottom: 10px;
}

.mute{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
}